@layout MainLayout
@inject NavigationManager NavigationManager
@page "/"

<h1>Form Capture</h1>

<p id="app-description">
    FormCapture is an app for creating complete digitalization workflow using OCR.
</p>

<p>
    <a>Learn more...</a>
</p>

<div class="container">
    <div class="row">
        <div class="col-2">
            <button type="button" @onclick="@(e => Navigate("/login"))" class="btn btn-light"><span class="oi oi-account-login"></span> Log in</button>
        </div>

        <div class="col-2">
            <button type="button" @onclick="@(e => Navigate("/register"))" class="btn btn-light">Register</button>
        </div>
    </div>
</div>

@code
{
    private void Navigate(string page)
    {
        NavigationManager.NavigateTo(page);
    }
}