@layout MainLayout
@page "/register"
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<h3><span class="oi oi-person"></span> Register</h3>

<div class="form-card">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" @bind-value="model.Email" placeholder="Enter your email..." class="form-control" id="email" name="email" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" @bind-value="model.Password" placeholder="Enter your password..." class="form-control" id="password" name="password" />
    </div>

    <div class="form-group">
        <label for="confirm-password">Confirm password:</label>
        <input type="password" @bind-value="model.ConfirmationPassword" placeholder="Confirm your password..." class="form-control" id="confirm-password" name="confirm-password" />
    </div>

    <div class="form-group">
        <label>Account role:</label>
        <select class="form-control" @bind="accountRole">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary" disabled="@isSubmitButtonDisabled">Submit</button>

    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary @LoadingIndicatorCssClass" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="alert alert-danger form-alert @FormAlertCssClass" role="alert">
    Registration form wasn't properly completed. Or user is already registered.
</div>

<div class="alert alert-info form-alert" id="password-info" role="alert">
    Password must be <b>at least 6 characters total</b>:
    <ul>
        <li>at least one digit</li>
        <li>one lower and upper case character</li>
        <li>one non-alpha numeric character</li>
    </ul>
</div>

@code
{
    private RegistrationModel model = new RegistrationModel();

    private string accountRole;

    private bool isLoadingIndicatorHidden = true;

    private bool isFormAlertDisplayed = false;

    private string LoadingIndicatorCssClass => isLoadingIndicatorHidden ? "d-none" : null;

    private string FormAlertCssClass => isFormAlertDisplayed ? "d-block" : "d-none";

    private bool isSubmitButtonDisabled = false;

    private async Task SubmitForm()
    {
        isFormAlertDisplayed = false;
        isSubmitButtonDisabled = true;
        if (!string.IsNullOrEmpty(model.Email) && !string.IsNullOrEmpty(model.Password) && !string.IsNullOrEmpty(model.ConfirmationPassword))
        {
            if (string.IsNullOrEmpty(accountRole))
            {
                accountRole = "Admin";
            }
            if (!string.IsNullOrEmpty(accountRole))
            {
                isLoadingIndicatorHidden = !isLoadingIndicatorHidden;
                model.Role = accountRole;
                //Source:
                //SAINTY, Chris, 2019. Authentication with client-side Blazor using WebAPI and ASP.NET Core Identity. Chris Sainty [online]. [vid. 2021-04-29]. Dostupné z: https://chrissainty.com/securing-your-blazor-apps-authentication-with-clientside-blazor-using-webapi-aspnet-core-identity/
                bool res = await AuthenticationService.RegisterUser(model);
                if (res)
                {
                    isSubmitButtonDisabled = false;
                    NavigationManager.NavigateTo("/login");
                }
                else
                {
                    isFormAlertDisplayed = true;
                }
                isLoadingIndicatorHidden = !isLoadingIndicatorHidden;
            }
        }
        else
        {
            isFormAlertDisplayed = true;
        }
        isSubmitButtonDisabled = false;
    }
}