################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormCapture/.vs/FormCapture/v16
/FormCapture/Client/obj
/FormCapture/Server/obj
/FormCapture/Shared/obj
/FormCapture/Client/bin/Debug/netstandard2.1
/FormCapture/Server/bin/Debug/netcoreapp3.1
/FormCapture/Shared/bin/Debug/netstandard2.1
/FormCapture/.vs
