################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormCapture/.vs/FormCapture/v16
/FormCapture/Client/obj
/FormCapture/Server/obj
/FormCapture/Shared/obj
