@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="index-main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationStateTask;
        if (ClaimsHelper.Instance().GetExpirationClaim() != null)
        {
            DateTime tokenExpirationDate = new DateTime(1970, 1, 1);
            tokenExpirationDate.AddSeconds(Convert.ToInt32(ClaimsHelper.Instance().GetExpirationClaim().Value));
            tokenExpirationDate.AddHours(2);
            Console.WriteLine(tokenExpirationDate);
        }
        if (authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/formcapture/home");
        }
    }
}